aside.main-sidebar{
    position: fixed;
}
.main-header .navbar{
    min-height: 67px;
}
.main-header .sidebar-toggle{
    padding: 24px 15px;
}
.user-panel{
    padding: 0px 10px;
}
.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #848282;
}
.skin-blue .main-header .navbar{
    background-color: #2985E1;
    background: linear-gradient(to right, #2093ef, #2B80DB);
}
.skin-blue .main-header .logo, .skin-blue .main-sidebar{
    background-color: #fff;
}
.skin-blue .sidebar-menu > li > a{
    color: #595959;
    font-weight: bold;
}
.skin-blue .sidebar-menu>li>a .ico-menu{
    width: 18px;
    position: absolute;
}
.skin-blue .sidebar-menu>li>a .ico-menu.ico-hover{
    display: none;
}
.skin-blue .sidebar-menu>li>a span{
    padding-left: 23px;
}
.skin-blue .sidebar-menu>li.active>a{
    border-left: none;
    background-color: #2296F3;
    font-weight: normal;
}
.skin-blue .sidebar-menu>li.active>a .ico-menu.ico-hover{
    display: block;
}
.skin-blue .sidebar-menu>li.active>a .ico-menu{
    display: none;
}
.skin-blue .sidebar-menu>li>a:hover{
    background-color: #2296F3;
}
.skin-blue .sidebar-menu>li>a:hover .ico-menu.ico-hover{
    display: block;
}
.skin-blue .sidebar-menu>li>a:hover .ico-menu{
    display: none;
}
.skin-blue .sidebar-menu>li.menu-open>a{
    background-color: #2296F3;
}
.skin-blue .sidebar-menu>li.menu-open>a .ico-menu.ico-hover{
    display: block;
}
.skin-blue .sidebar-menu>li.menu-open>a .ico-menu{
    display: none;
}
.skin-blue .sidebar-menu>li>.treeview-menu{
    margin: 0;
    background-color: #F8F8F8;
}
.skin-blue .sidebar-menu .treeview-menu>li.active>a{
    color: #2296F3;
}
.skin-blue .sidebar-menu .treeview-menu>li>a:hover{
    color: #2296F3;
}
.skin-blue .sidebar-menu li.header{
    background-color: transparent;
    color: #595959;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 15px 10px;
}
.treeview-menu{
    padding-left: 26px;
}
.treeview-menu>li:nth-child(3)> a {
    white-space: pre-wrap;
}
.treeview-menu>li>a{
    padding: 10px 5px 10px 15px;
}

.sidebar-menu li>a>.pull-right-container{
    right: 15px;
}
.sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-right{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebar-menu li>a>.pull-right-container>.fa-angle-right{
    webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}

/*Icon*/
.ico-header{width: 25px;}
.ico-button{width: 18px;}

/*Display*/
.display-block {
    display: block;
}
.border-gray-1px {
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}
.unreveal {
    display: none;
}
.reveal {
    display: block;
}

/*Typography*/
.text-white {
    color: #ffffff;
}
.text-blue {
    color: #105bab;
}
.text-red {
    color: #c91920;
}
.text-green-light {
    color: #5F9123;
}
.text-muted {
    color: rgba(119, 119, 119, .5);
}
.text-italic {
    font-style: italic;
}
.text-underline {
    text-decoration: underline;
}
.ls-02 {
    letter-spacing: .02em;
}
.fs-13px {
    font-size: 13px;
}
.fw-500 {
    font-weight: 500;
}
.fs-20{
    font-size: 20px;
}

/*Border*/
.no-border {
    border: none;
}

/*Content*/

.box{
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e4e4e4!important;
}
.box.box-solid{
    border: 1px;
}
.box.box-transparent{
    background-color: transparent;
    border: none!important;
}
.box-header{
    background-color: #EDEEF5;
}
.box-header.with-border{
    border-bottom: 1px solid #e4e4e4;
}


/*Button*/

.btn-default{
    border: solid 1px #f4f4f4;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.btn-primary{
    background-color: #1C7DCC;
    border: none;
}
.btn-primary.btn-shadow{
    box-shadow: 0px 2px 1px #0f65ab;
}
.btn-secondary{
    background-color: #2296F3;
    color: #ffffff;
    letter-spacing: 0.5px;
}
.btn-secondary:hover{
    color: #ffffff;
    background-color: #286090;
}
.btn-secondary:focus{
    color: #ffffff;
}
.btn-secondary-outline{
    background-color: transparent;
    color: #2296f3;
    border: solid 1px #2296f3;
    font-weight: 700;
}
.btn-secondary-outline:hover{
    background-color: #2296F3;
    color: #ffffff;
}
.btn-default-outline{
    background-color: transparent;
    color: #848282;
    border: solid 1px #848282;
    font-weight: bold;
}
.btn-default-outline:hover{
    color: #848282;
}
.btn-default-outline:focus{
    color: #848282;
}
.btn-rounded{
    border-radius: 30px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    border-color: #286090;
    background-color: #286090;
}
.label{
    border-radius: 1.25em;
    font-weight: normal;
    padding: .3em .6em .3em;
    letter-spacing: 0.5px;
}
.bg-red{
    background-color: #F75C5C!important;
}
.bg-secondary{
    background-color: #2296F3!important;
}
.cursor-pointer{
    cursor: pointer;
}

/*Carousel*/

.carousel-control{
    width: auto;
}
.carousel-control>.fa{
    background: rgba(34,150,243,.7);
    padding: 14px 20px;
    font-size: 30px;
    margin-top: -29px;
}
.carousel-control.right{
    right: 51px;
}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 2px 7px #3e3e3e;
}
.carousel-indicators .active{
    width: 18px;
    height: 18px;
}

.overflow-hidden {
    overflow: hidden !important;
}

/*Padding*/
.no-padding{padding: 0px!important;}
.p-3{padding: 3px;}
.p-5{padding: 5px!important;}
.p-10{padding: 10px!important;}
.p-15{padding: 15px;}
.p-20{padding: 20px;}
.p-25{padding: 25px;}
.p-30{padding: 30px;}
.p-35{padding: 35px;}
.p-40{padding: 40px;}
.p-45{padding: 45px;}
.p-50{padding: 50px;}

.pt-0{padding-top: 0px;}
.pt-5{padding-top: 5px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.pt-35{padding-top: 35px;}
.pt-40{padding-top: 40px;}
.pt-45{padding-top: 45px;}
.pt-50{padding-top: 50px!important;}

.pb-0{padding-bottom: 0px;}
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-25{padding-bottom: 25px;}
.pb-30{padding-bottom: 30px;}
.pb-35{padding-bottom: 35px;}
.pb-40{padding-bottom: 40px;}
.pb-45{padding-bottom: 45px;}
.pb-50{padding-bottom: 50px!important;}
.pb-60{padding-bottom: 60px;}
.pb-70{padding-bottom: 70px;}

.pl-0{padding-left: 0px;}
.pl-5{padding-left: 5px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-25{padding-left: 25px;}
.pl-30{padding-left: 30px;}
.pl-35{padding-left: 35px;}
.pl-40{padding-left: 40px;}
.pl-45{padding-left: 45px;}
.pl-50{padding-left: 50px;}

.pr-0{padding-right: 0px;}
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}
.pr-25{padding-right: 25px;}
.pr-30{padding-right: 30px;}
.pr-35{padding-right: 35px;}
.pr-40{padding-right: 40px;}
.pr-45{padding-right: 45px;}
.pr-50{padding-right: 50px;}

/*Margin*/
.no-gutters {margin-left: 0; margin-right: 0;}
.no-margin{margin: 0;}
.m-5{margin: 5px;}
.m-10{margin: 10px;}
.m-15{margin: 15px;}
.m-20{margin: 20px;}
.m-25{margin: 25px;}
.m-30{margin: 30px;}
.m-35{margin: 35px;}
.m-40{margin: 40px;}
.m-45{margin: 45px;}
.m-50{margin: 50px;}

.mt-0{margin-top: 0px;}
.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-25{margin-top: 25px;}
.mt-30{margin-top: 30px;}
.mt-35{margin-top: 35px;}
.mt-40{margin-top: 40px;}
.mt-45{margin-top: 45px;}
.mt-50{margin-top: 50px;}

.mb-0{margin-bottom: 0px;}
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-25{margin-bottom: 25px;}
.mb-30{margin-bottom: 30px;}
.mb-35{margin-bottom: 35px;}
.mb-40{margin-bottom: 40px;}
.mb-45{margin-bottom: 45px;}
.mb-50{margin-bottom: 50px;}

.ml-0{margin-left: 0px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
.ml-25{margin-left: 25px;}
.ml-30{margin-left: 30px;}
.ml-35{margin-left: 35px;}
.ml-40{margin-left: 40px;}
.ml-45{margin-left: 45px;}
.ml-50{margin-left: 50px;}

.mr-0{margin-right: 0px;}
.mr-2{margin-right: 2px;}
.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}
.mr-25{margin-right: 25px;}
.mr-30{margin-right: 30px;}
.mr-35{margin-right: 35px;}
.mr-40{margin-right: 40px;}
.mr-45{margin-right: 45px;}
.mr-50{margin-right: 50px;}

.text-primary{color: #1C7DCC;}
.text-strong{font-weight: bold!important;}
.text-medium{font-size: 12px;}
.text-success{color: #47CD6B;}

.card{
    border: solid 1px #eee;
    margin-bottom: 10px;
    padding: 20px;
}
.card.card-rounded{
    border-radius: 4px;
}
.card-gray{
    background-color: #F1F0F0;
}

.list-divider{
    border-left: solid 1px #d2d2d2;
}

.navbar-nav>li>a:hover {
    background-color: transparent!important;
}

/*Form*/
.form-control{
    height: 43px;
}
input.placeholder-normal::-webkit-input-placeholder{
    font-style: normal;
}
input.placeholder-normal:-moz-placeholder{
    font-style: normal;
}
input.placeholder-normal::-moz-placeholder{
    font-style: normal;
}
input::-webkit-input-placeholder{
    font-style: italic;
}
input:-moz-placeholder{
    font-style: italic;
}
input::-moz-placeholder{
    font-style: italic;
}
.form-control:disabled{
    border: none;
}
textarea{
    resize: none;
}
.form-horizontal .control-label{
    text-align: left;
}

.form-flat .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.form-flat .form-control-feedback{
    left: 0;
}
.form-flat .form-control{
    padding-left: 42.5px;
    padding-right: 12px;
}

.input-has-label{
    position: relative;
}
.input-has-label label{
    position: absolute;
    font-size: 11px;
    color: #b3b2b2;
    top: 5px;
    left: 12px;
    font-weight: normal;
}
.input-has-label span{
    position: absolute;
    font-size: 11px;
    color: #b3b2b2;
    top: 5px;
    left: 12px;
    font-weight: normal;
}
.input-has-label .form-control{
    height: 50px;
    padding-top: 16px;
    font-weight: bold;
}
.input-has-label textarea.form-control{
    height: auto;
}

/*Float Label*/
.float-label {
    margin: 0;
    padding: 0;
    border: 0;
    height: 3.5em;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
}
.float-label label {
    z-index: 0;
    position: absolute;
    top: 15px;
    left: 12px;
    font-weight: 400;
    opacity: 0.7;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
}
.float-label input {
    z-index: 1;
    height: 3.5em;
}
.float-label input:valid,
.float-label input:focus,
.float-label input:disabled {
    padding: 20px 8px 5px 11px;
}
.float-label input:focus {
    background: #ffffff;
}
.float-label input:valid + label,
.float-label input:focus + label,
.float-label input:disabled + label {
    color: #333;
    font-size: 11px;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

/*Alert*/

.alert-has-sign{
    padding-left: 60px;
    position: relative;
}
.alert-has-sign .sign-addon{
    position: absolute;
    background-color: #FF5722;
    color: #ffffff;
    left: -1px;
    width: 39px;
    padding: 14px 0;
    top: -1px;
    text-align: center;
    font-size: 17px;
    border-radius: 3px 0 0 3px;
}
.alert-has-sign .sign-addon:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #FF5722;
    right: -4px;
    top: 22px;
    transform: rotate(45deg);
}
.alert-danger.alert-has-sign{
    background-color: #FBE9E7!important;
    color: #AE5054!important;
    border-color: #FF5722;
}
.alert-has-sign .close{
    color: #AE5054!important;
}


/*Custom Checkbox*/

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

/*End Custom Checkbox*/

/*Custom Radio Button*/

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

/*End Custom Radio Button*/


/*Loading Spinner*/
.sk-cube-grid {
    position: fixed;
    z-index: 999;
    height: 3em;
    width: 3em;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.sk-cube-grid:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}
/*End Loading Spinner*/

/*Custom Disabled*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: #848282;
    background-color: #F8F8F8;
}
/*End Custom Disabled*/

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}