.dashboard .ic-btn{
    height: 20px;
    width: auto;
    margin-right: 3px;
}
.dashboard .main-header .status-group{
    position: absolute;
    padding: 18px 10px;
}
.dashboard .article-headline .art-title{
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.dashboard .article-headline .art-body{
    line-height: 16px;
    height: 64px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.breadcrumb {
    border-radius: 0;
}
.header-title{
    position: absolute;
    margin-left: 15px;
    color: #ffffff;
}
.ft-action{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid #e4e4e4;
    z-index: 811;
    padding: 30px 15px;
}
.stepNav {
    margin: 5px 0;
    height: 43px;
    padding-left: 0;
    padding-right: 20px;
    position: relative;
    z-index: 0;
    list-style: none;
}
.stepNav li {
    float: left;
    position: relative;
    z-index: 3;
    margin-left: 20px;
}
.stepNav li:first-child {
    margin-left: -45px;
    border-radius: 5px 0 0 5px;
}
.stepNav li:nth-child(2) { z-index: 1; }
.stepNav li:nth-child(3) { z-index: 0; }
.stepNav.threeStep li { width: 25%; }
.stepNav a, .stepNav a:visited {
    width: 100%;
    height: 43px;
    padding: 0 0 0 25px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .03em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    line-height: 43px;
    white-space: nowrap;
    border: 0;
    text-decoration: none;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.stepNav li.selected a {
    color: #2296f3;
}
.stepNav a {
    color: #dddddf;
}
.stepNav li:first-child a {
    padding-left: 12px;
}
.stepNav a:before {
    content: "";
    width: 29px;
    height: 29px;
    border-right: 3px solid #2296f3;
    border-bottom: 3px solid #2296f3;
    display: block;
    position: absolute;
    top: 6px;
    right: -16px;
    z-index: -1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.stepNav li:not(:first-child) a:before {
    right: -46px;
}
.stepNav li:last-child a:before {
    border: 0;
    background-image: none;
}
.stepNav a:hover {
    color: #2296f3;
}
.stepNav li.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.stepNav li.selected a:before {
    border-right: 3px solid #2296f3;
    border-bottom: 3px solid #2296f3;
}
.stepNav li .rounder {
    color: #fff;
    font-weight: 300;
    background-color: #dddddf;
    padding: 2px 8px;
    margin-right: 20px;
    border-radius: 20px;
}
.stepNav li.selected .rounder, .stepNav a:hover .rounder {
    background-color: #2296f3;
}
.stepNav li.selected:hover .rounder, .stepNav a:hover .rounder {
    background-color: rgba(34, 150, 243, .75);
}
.stepNav li.selected a:hover {
    color: rgba(34, 150, 243, .75);
}
.ship-round-around {
    border: 1px solid #dddddf;
    border-radius: 4px;
    width: 30%;
    padding: 35px;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
}
.ship-img {
    width: 255px;
}
.ship-wrapper {
    text-align:center;
}
.ship-wrapper figcaption{
    max-width: 140px;
    margin: 10px auto;
    letter-spacing: .02em;
}
.ship-wrapper .btn-secondary {
    font-weight: 400;
    border: 0;
    width: 95px;
    height: 35px;
    line-height: 24px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
}
.col-centered {
    display:inline-block;
    float:none;
    margin-right: 13px;
    margin-left: 7px;
}
.dt-wrapper {
    float: right;
}
.dt-wrapper .fa-calendar {
    font-size: 1.4em;
}
.dt-wrapper .fa-clock-o {
    font-size: 1.7em;
    vertical-align: sub;
}
.ship-2label-format {
    font-size: 1.4em;
    padding-top: 3px;
}
.ship-2label-format + .input-group .input-group-addon {
    background-color: #d8d8d8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ship-2label-format + .input-group .form-control {
    height: 40px;
}
.ship-2label-format + .input-group .bootstrap-select.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    height: 40px;
    background-color: transparent;
}
.ship-2label-format .btn-secondary-outline {
    font-weight: 500;
}
/*.ship-2label-format + .input-group {*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);*/
    /*-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);*/
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);*/
/*}*/
.ship-2label-format + .input-group .bs-searchbox {
    padding: 0;
}
.ship-2label-format + .input-group .bs-searchbox > input {
    height: 40px;
}
.ship-2label-format + .input-group .dropdown-menu {
    padding: 0;
    margin-top: 10px;
    border-color: #2296f3;
}
.ship-2label-format + .input-group .bs-searchbox:before {
    font-family: FontAwesome;
    content: "\f002";
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    color: #d8d8d8;
}
.ship-2label-format + .input-group .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ship-2label-format + .input-group .bootstrap-select > .btn-default {
    border: solid 1px #ccc;
    font-weight: 400;
}
.ship-2label-format + .input-group .bootstrap-select.btn-group .dropdown-menu li a {
    height: 40px;
    line-height: 35px;
}
/*.ship-2label-format + .input-group:hover .input-group-addon {*/
    /*background-color: #fff;*/
/*}*/
/*.ship-2label-format + .input-group:hover .truck-icon {*/
/*background-image: url(../img/new/ic-pengirim-grey.png);*/
/*}*/
.truck-icon, .house-icon {
    background-position: center;
    padding: 4px 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.truck-icon {
    background-image: url(../img/new/ic-pengirim-white.png);
}
.house-icon {
    background-image: url(../img/new/ic-rumah-white.png);
}
.shipment .form-horizontal .checkbox label {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
}
#addressPengirim, #addressPenerima {
    display: none;
}
.detail-paket table tr {
    height: 40px;
}
.detail-paket table tr td:last-child label {
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 26px;
    opacity: .9;
}
.detail-paket table {
    border-radius: 4px;
}
.detail-paket table tr td:first-child {
    width: 35%;
}
.detail-paket table tr td:first-child input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.detail-paket table tr td:last-child input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.detail-paket table tr td .form-group {
    margin-bottom: 0;
}
.detail-paket table tr td .form-group .form-control {
    border: 1px solid #ccc;
}
.detail-paket table tr td input {
    height: 50px;
    border-radius: 0;
}
.detail-paket .table > tbody > tr > td {
    border-top: 0;
}
.detail-paket .service-price .form-group label{
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 30px;
}
.detail-paket .img-service-price {
    width: 80px;
}
/*custom checkboxes shipment*/
input[type="radio"]{
    position: absolute;
    right: 9000px;
}
input[type="radio"] + .label-text:before{
    content: "\f10c";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}
input[type="radio"]:checked + .label-text:before{
    content: "\f192";
    color: #8e44ad;
    animation: effect 250ms ease-in;
}
input[type="radio"]:disabled + .label-text{
    color: #aaa;
}
input[type="radio"]:disabled + .label-text:before{
    content: "\f111";
    color: #ccc;
}

@media (min-width: 768px){
    .navbar-nav>li>a.logout-btn {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
    }
}